.outer{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: brown;
    

}